@model BedType
@{
    ViewBag.Title = "Create";
}

    <div class="row">
        <div class="col-lg-12">
            <form method="post" enctype="multipart/form-data" id="create-product">
                <div class="form-group">
                    @Html.LabelFor(m => m.Type)
                    @Html.TextBoxFor(m => m.Type, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })

                </div>
                


               

                <button type="submit" class="btn btn-primary">Elave Et</button>





            </form>

        </div>
    </div>

